<table width="776" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr align="center"> 
    <td><img src="{TEMPLATEDIR}images//tempimg/8.gif" width="776" height="16"></td>
  </tr>
</table>

<table width="776" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr> 
    <td height="25"> 
      <div align="center"> 
        <table width="80%" border="0" cellspacing="5" cellpadding="0">
          <tr align="center"> 
            <td height="25">          <div class="primary-links">
        {BOTTOM_MENU}      </div>
    </td>
          </tr>
          <tr align="center"> 
            <td><TABLE cellSpacing=4 cellPadding=1 width=659 border=0>
<TBODY>
<TR>
<TD width=608 height=22>
<DIV align=center>
    <p> 
    Addrees:Futian ShenZhen GuangDong China. Zip:518000 <br />  
   E-mail:<a href="mailto:arzen1013@gmail.com">arzen1013@gmail.com</a><br /> 
  <A href="tencent://message/?uin=3440895&Site=www.518ic.com&Menu=yes" target=blank><IMG alt=点击这里给我发消息 src="http://wpa.qq.com/pa?p=1:3440895:4" border="0">QQ:3440895</a> Yahoo:arzen1013@yahoo.com <img border=0 width=64 height=16 src="http://opi.yahoo.com/online?u=arzen1013&m=g&t=1" />  <br />
Tel: +086-013684987661 John<br /> 
Copyright 2005-2006 web.518ic.com AutoPHPFramework Group.  

</p>
</DIV></TD></TR>
</TBODY></TABLE>
<P></P>
</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
