<div class="content"><table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
<tr>
<td width="43"><img src="{TEMPLATEDIR}images/tech_en.gif" width="184" height="33"></td>
</tr>
</table>
<table width="160" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
<tr>
<td width="5" height="5" valign="top"><img src="{TEMPLATEDIR}images/tempimg/c1.gif" width="5" height="5"></td>
<td background="{TEMPLATEDIR}images/tempimg/c2.gif"></td>
<td width="5" height="5"><img src="{TEMPLATEDIR}images/tempimg/c3.gif" width="8" height="5"></td>
</tr>
<tr>

<td background="{TEMPLATEDIR}images/tempimg/c8.gif" width="5"></td>
<td align="center" height="22"><font style="font-size:12px;color:#000000"><a href='{WEB_DIR}/default/index/tech/1' target=_self  style=' color:#808080;font-size:12px; '>PHP</a></font>    </td>
<td background="{TEMPLATEDIR}images/tempimg/c7.gif" width="8"></td>
</tr>
<tr>
<td width="5" height="8"><img src="{TEMPLATEDIR}images/tempimg/c4.gif" width="5" height="8"></td>
<td background="{TEMPLATEDIR}images/tempimg/c5.gif" height="8"></td>
<td width="8" height="8"><img src="{TEMPLATEDIR}images/tempimg/c6.gif" width="8" height="8"></td>
</tr>
</table>
<table width="160" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
<tr>
<td width="5" height="5" valign="top"><img src="{TEMPLATEDIR}images/tempimg/c1.gif" width="5" height="5"></td>
<td background="{TEMPLATEDIR}images/tempimg/c2.gif"></td>
<td width="5" height="5"><img src="{TEMPLATEDIR}images/tempimg/c3.gif" width="8" height="5"></td>

</tr>
<tr>
<td background="{TEMPLATEDIR}images/tempimg/c8.gif" width="5"></td>
<td align="center" height="22"><font style="font-size:12px;color:#000000"><a href='{WEB_DIR}/default/index/tech/2' target=_self  style=' color:#808080;font-size:12px; '>.Net</a></font>    </td>
<td background="{TEMPLATEDIR}images/tempimg/c7.gif" width="8"></td>
</tr>
<tr>
<td width="5" height="8"><img src="{TEMPLATEDIR}images/tempimg/c4.gif" width="5" height="8"></td>
<td background="{TEMPLATEDIR}images/tempimg/c5.gif" height="8"></td>
<td width="8" height="8"><img src="{TEMPLATEDIR}images/tempimg/c6.gif" width="8" height="8"></td>
</tr>
</table>
<table width="160" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
<tr>
<td width="5" height="5" valign="top"><img src="{TEMPLATEDIR}images/tempimg/c1.gif" width="5" height="5"></td>

<td background="{TEMPLATEDIR}images/tempimg/c2.gif"></td>
<td width="5" height="5"><img src="{TEMPLATEDIR}images/tempimg/c3.gif" width="8" height="5"></td>
</tr>
<tr>
<td background="{TEMPLATEDIR}images/tempimg/c8.gif" width="5"></td>
<td align="center" height="22"><font style="font-size:12px;color:#000000"><a href='{WEB_DIR}/default/index/tech/3' target=_self  style=' color:#808080;font-size:12px; '>Vc++</a></font>    </td>
<td background="{TEMPLATEDIR}images/tempimg/c7.gif" width="8"></td>
</tr>
<tr>
<td width="5" height="8"><img src="{TEMPLATEDIR}images/tempimg/c4.gif" width="5" height="8"></td>
<td background="{TEMPLATEDIR}images/tempimg/c5.gif" height="8"></td>
<td width="8" height="8"><img src="{TEMPLATEDIR}images/tempimg/c6.gif" width="8" height="8"></td>
</tr>
</table>
</div>