<td width="184" valign="top"  background="{TEMPLATEDIR}images/tempimg/leftbg0.gif">
		{MENU_SUB}
      <table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
        <tr> 
          <td width="43"><img src="{TEMPLATEDIR}images/tempimg/introduction_en.gif" width="184" height="33"></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="1" cellpadding="5">
        <tr valign="top"> 
          <td height="120"><font style="color:#000000;font-size:12px"><P>AutoPHPFramework is a rapid development framework for PHP . Base on PEAR--(Php Extension and Application Repository).It auto generate DAO--(Data Access Object) and auto generate template ,so it ensure you quickly develop your php web application. AutoPHPFramework can work well under php5 and php4.So,recommend you to download and try it.</P></font></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
        <tr> 
          <td width="43"><img src="{TEMPLATEDIR}images/tempimg/thanks_en.gif" width="184" height="33"></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="1" cellpadding="5">
        <tr valign="top"> 
          <td height="120"><font style="color:#000000;font-size:12px"></font></td>
        </tr>
      </table>
      
    </td>