<td width="184" valign="top"  background="{TEMPLATEDIR}images/tempimg/leftbg0.gif">
		{MENU_SUB}
      <table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
        <tr> 
          <td width="43"><img src="{TEMPLATEDIR}images/tempimg/introduction.gif" width="184" height="33"></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="1" cellpadding="5">
        <tr valign="top"> 
          <td height="120"><font style="color:#000000;font-size:12px"><P>AutoPHPFramework是一套PHP的快速web应用程序开发框架。它基于PEAR--(Php 扩展应用库创建的.它能够自动创建DAO--(数据访问对象),及自动生成模板文件。减少程序员一些经常性的重复劳力，使开发人员精力集中于应用程序的逻辑实现，确保能快速开发创建你的网络应用程序。AutoPHPFramework能够在php5 与 php4都很好地工作。欢迎你下载使用。</P></font></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
        <tr> 
          <td width="43"><img src="{TEMPLATEDIR}images/tempimg/thanks.gif" width="184" height="33"></td>
        </tr>
      </table>
      <table border="0" cellspacing="1" cellpadding="5" align="center">
        <tr > 
          <td >
          <img src="{TEMPLATEDIR}images/bslogo.gif" border="0">
           </td>
        </tr>
        <tr > 
          <td >
           <img src="{TEMPLATEDIR}images/sflogo.gif" border="0">
          </td>
        </tr>
       </table>
      
    </td>