<table width="776" border="0" cellpadding="0" cellspacing="0" align="center"  style="border-right:1px #cfcfcf solid;border-left:1px #cfcfcf solid">
  <tr>
	{MAIN_LEFT}
    <td valign="top">
	
<div id="page" class="sidebar">

        <img src="{TEMPLATEDIR}images/yweb.jpg" alt="YWeb 建站系统" width="171" height="115" align="right" />
<h2><a href="{WEB_DIR}/default/index/techdetail/3">YWeb 建站系统</a></h2>

	
	<p>半动态网站功能，方便制作半动态企业网站。包括有新闻发布，产品发布</p>
	<ul>
		<li>新闻发布</li>
		<li>产品发布</li>
		</ul>
	<p style="padding-left: 10px"><a class="moreinfo" href="{WEB_DIR}/default/index/techdetail/3">更多&nbsp;&raquo;</a></p>



    </p>
	</div></td>
  </tr>
</table>