<table width="776" border="0" cellpadding="0" cellspacing="0" align="center"  style="border-right:1px #cfcfcf solid;border-left:1px #cfcfcf solid">
  <tr>
    {MAIN_LEFT}
	    <td valign="top">
            <div id="main">
                <h1 class="title"></h1>
        <div class="tabs"></div>
                        <!-- begin content --><style type="text/css">
td img {display: block;}.STYLE1 {
	color: #87A0B7;
	font-weight: bold;
	font-size: 16px;
}
.STYLE2 {
	font-size: 16px;
	color: #FF6600;
	font-weight: bold;
}
</style>

<table width="577" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="38" colspan="2" background="{TEMPLATEDIR}images/main_content_bg.gif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="STYLE2">&nbsp;玲珑解决方案套餐</span></td>
  </tr>
  <tr>
    <td><br />
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2"><span class="STYLE1">动画首页企业宣传型</span></td>
        </tr>
      <tr>
        <td width="86"><img src="{TEMPLATEDIR}images/main_content_1.gif" width="82" height="80" border="0" /></td>
        <td width="164"><table cellspacing="0" cellpadding="0">
          <tr>
            <td> ·适合普通企业宣传</td>
          </tr>

          <tr>
            <td>·提高企业知名度</td>
          </tr>
          <tr>
            <td><a href="#">[详细]</a></td>
          </tr>
        </table>        </td>
      </tr>
    </table></td>
    <td><br />
      <table width="250" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2"><span class="STYLE1">企业信息资讯型</span></td>
      </tr>
      <tr>
        <td><img src="{TEMPLATEDIR}images/main_content_2.gif" width="83" height="80" border="0" /></td>
        <td><table cellspacing="0" cellpadding="0">
            <tr>
              <td> ·适合大量企业信息提供给顾客</td>
            </tr>
            <tr>
              <td>·企业产品深度宣传</td>
            </tr>
            <tr>
              <td><a href="#">[详细]</a></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td><br />
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2"><span class="STYLE1">小型网上商店</span></td>
      </tr>
      <tr>
        <td><img src="{TEMPLATEDIR}images/main_content_4.gif" width="82" height="79" border="0" /></td>
        <td><table align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td> ·适合于个人或团体开网络商店</td>
            </tr>
            <tr>
              <td>·网络创业之选</td>
            </tr>
            <tr>
              <td><a href="#">[详细]</a></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
    <td><br />
      <table width="250" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2"><span class="STYLE1">大型行业门户型</span></td>
      </tr>
      <tr>
        <td><img src="{TEMPLATEDIR}images/main_content_3.gif" width="83" height="79" border="0" /></td>
        <td><table cellspacing="0" cellpadding="0">
            <tr>
              <td> ·适合于欲从事某行业资讯</td>
            </tr>
            <tr>
              <td>·专业专注</td>
            </tr>
            <tr>
              <td><a href="#">[详细]</a></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td><br />
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2"><span class="STYLE1">地方信息门户型</span></td>
      </tr>
      <tr>
        <td width="87"><img src="{TEMPLATEDIR}images/main_content_2.gif" width="83" height="80" border="0" /></td>
        <td width="163"><table align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td> ·地方新闻网信息港</td>
            </tr>
            <tr>
              <td>·服务本地关心身边</td>
            </tr>
            <tr>
              <td><a href="#">[详细]</a></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
    <td><br />
      <table width="250" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2"><span class="STYLE1">网络电子出版型</span></td>
      </tr>
      <tr>
        <td><img src="{TEMPLATEDIR}images/main_content_1.gif" width="82" height="80" border="0" /></td>
        <td><table align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td> ·打破传统媒介网民先来尝鲜</td>
            </tr>
            <tr>
              <td>·传统媒介的网络预宣传</td>
            </tr>
            <tr>
              <td><a href="#">[详细]</a></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

</table><!-- end content -->      </div>
    </td>
      </tr>
</table>
