<table width="776" border="0" cellpadding="0" cellspacing="0" align="center"  style="border-right:1px #cfcfcf solid;border-left:1px #cfcfcf solid">
  <tr>
{MAIN_LEFT}
    <td valign="top">
            <div id="main">
              <h1 class="title"></h1>
        <div class="tabs"></div>
                        <!-- begin content --><div class='view view-solution'><TABLE cellSpacing=2 cellPadding=0 width="100%" bgColor=#ffffff border=0>
<TBODY>
<TR vAlign=top>
<TD width=115 height=93>
<TABLE height=110 cellSpacing=0 cellPadding=0 width=110 background={TEMPLATEDIR}images/tempimg/goodsbg.gif border=0>
<TBODY>
<TR>
<TD width=12 rowSpan=3></TD>
<TD height=12></TD>
<TD width=18 rowSpan=3></TD></TR>
<TR>
<TD align=middle><!--pic -->  <img src="{TEMPLATEDIR}images/1149751034.gif"  border="0" /></TD>
</TR>
<TR>
<TD height=18></TD></TR></TBODY></TABLE></TD>
<TD height=93>
<TABLE height=105 cellSpacing=1 cellPadding=4 width="100%" bgColor=#cccccc border=0>
<TBODY>
<TR vAlign=top align=right bgColor=#ffffff>
<TD height=30>
<TABLE height=28 cellSpacing=1 cellPadding=4 width="100%" bgColor=#cccccc border=0>
<TBODY>
<TR bgColor=#99ccff>
<TD align=middle width=80 bgColor=#f0f0f0>名称</TD>
<TD bgColor=#ffffff align="left"><FONT color=#000000>普及型企业网站套餐</FONT></TD>
</TR></TBODY></TABLE>
<TABLE height=30 cellSpacing=2 cellPadding=0 width="100%" border=0>
<TBODY>
<TR vAlign=top>
<TD height=5></TD></TR>
<TR vAlign=top>
<TD height=35 align="left">企业网站系统普及版具有九个企业网站常用的栏目，网站管理系统简单易用。适合建立以展示企业和产品为主的小型企业网站。 </TD></TR></TBODY></TABLE>
<TABLE height=4 cellSpacing=0 cellPadding=0 width="100%" background={TEMPLATEDIR}images/tempimg/dotline.gif border=0>
<TBODY>
<TR>
<TD></TD></TR></TBODY></TABLE>
<TABLE height=28 cellSpacing=3 cellPadding=0 border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 12px; COLOR: #666666" align=middle width=52 height=19><IMG height=19 src="{TEMPLATEDIR}images/tempimg/m_detail.gif" width=52 border=0></TD>
</TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=2 cellPadding=0 width="100%" bgColor=#ffffff border=0>
<TBODY>
<TR vAlign=top>
<TD width=115 height=93>
<TABLE height=110 cellSpacing=0 cellPadding=0 width=110 background={TEMPLATEDIR}images/tempimg/goodsbg.gif border=0>
<TBODY>
<TR>
<TD width=12 rowSpan=3></TD>
<TD height=12></TD>
<TD width=18 rowSpan=3></TD></TR>
<TR>
<TD align=middle><!--pic -->  <img src="{TEMPLATEDIR}images/1136066219_1.gif" border="0" /></TD>
</TR>
<TR>
<TD height=18></TD></TR></TBODY></TABLE></TD>
<TD height=93>
<TABLE height=105 cellSpacing=1 cellPadding=4 width="100%" bgColor=#cccccc border=0>
<TBODY>
<TR vAlign=top align=right bgColor=#ffffff>
<TD height=30>
<TABLE height=28 cellSpacing=1 cellPadding=4 width="100%" bgColor=#cccccc border=0>
<TBODY>
<TR bgColor=#99ccff>
<TD align=middle width=80 bgColor=#f0f0f0>名称</TD>
<TD bgColor=#ffffff align="left"><FONT color=#000000>标准型企业网站套餐</FONT></TD>
</TR></TBODY></TABLE>
<TABLE height=30 cellSpacing=2 cellPadding=0 width="100%" border=0>
<TBODY>
<TR vAlign=top>
<TD height=5></TD></TR>
<TR vAlign=top>
<TD height=35 align="left">企业网站系统标准版具有网站首页、企业简介、企业形象、产品展示、新闻动态、营销网络、产品订购、下载专区、联系我们等9个一级栏目和相对应的10多个二级栏目，适合建立内容丰富的企业网站。</TD></TR></TBODY></TABLE>
<TABLE height=4 cellSpacing=0 cellPadding=0 width="100%" background={TEMPLATEDIR}images/tempimg/dotline.gif border=0>
<TBODY>
<TR>
<TD></TD></TR></TBODY></TABLE>
<TABLE height=28 cellSpacing=3 cellPadding=0 border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 12px; COLOR: #666666" align=middle width=52 height=19><IMG height=19 src="{TEMPLATEDIR}images/tempimg/m_detail.gif" width=52 border=0></TD>
</TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
</div>
<!-- end content -->      </div>
    </td>
      </tr>
</table>