<table width="776" border="0" cellpadding="0" cellspacing="0" align="center"  style="border-right:1px #cfcfcf solid;border-left:1px #cfcfcf solid">
  <tr>
    {MAIN_LEFT}
        <td valign="top">
            <div id="main">
                <h1 class="title"></h1>
        <div class="tabs"></div>
                        <!-- begin content --><div id="special_content">
<table width="594" border="0">
  <tr>
    <td width="588" colspan="2"><span style="color: #FE8D42;font-weight: bold;font-size: 16px;" >关于我们</span></td>
  </tr>
  <tr>
    <td colspan="2"><img name="aboutus_r2_c2" src="{TEMPLATEDIR}images/aboutus_top_line.gif" width="591" height="9" border="0" id="aboutus_r2_c2" alt="" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr background="aboutus_r4_c2.gif">
    <td height="143" colspan="2" background="{TEMPLATEDIR}images/aboutus_top_bg.gif">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><table width="583" border="0">
        <tr>
          <td colspan="2"><table width="577" height="38" border="0" cellpadding="0" cellspacing="0" background="{TEMPLATEDIR}images/main_content_bg.gif">
            <tr>
              <td width="204" align="right"><span style="color: #339900;font-weight: bold;font-size: 16px;" ><strong>玲珑网络科技服务</strong>理念</span></td>
              <td width="373">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td width="231" align="right"><table width="185" border="0">
            <tr>
              <td width="14"><img name="aboutus_r6_c3" src="{TEMPLATEDIR}images/aboutus_dot.gif" width="14" height="14" border="0" id="aboutus_r6_c3" alt="" /></td>
              <td width="161" align="left"><span style="color: #006699;font-weight: bold;font-size: 16px;" > 创新服务</span></td>
            </tr>
          </table>
          <br />
          <table width="185" border="0">
            <tr>
              <td width="14"><img name="aboutus_r6_c3" src="{TEMPLATEDIR}images/aboutus_dot.gif" width="14" height="14" border="0" id="aboutus_r6_c3" alt="" /></td>
              <td width="161" align="left"><span style="color: #006699;font-weight: bold;font-size: 16px;" >真诚开放</span></td>
            </tr>
          </table></td>
          <td width="342"><table width="274" border="0">
            <tr>
              <td width="20"><img name="aboutus_r6_c3" src="{TEMPLATEDIR}images/aboutus_dot.gif" width="14" height="14" border="0" id="aboutus_r6_c3" alt="" /></td>
              <td width="244" align="left"><span style="color: #006699;font-weight: bold;font-size: 16px;" >专注专业</span></td>
            </tr>
          </table>
            <br />
            <table width="274" border="0">
              <tr>
                <td width="20"><img name="aboutus_r6_c3" src="{TEMPLATEDIR}images/aboutus_dot.gif" width="14" height="14" border="0" id="aboutus_r6_c3" alt="" /></td>
                <td width="244" align="left"><span style="color: #006699;font-weight: bold;font-size: 16px;" >高质高效</span></td>
              </tr>
            </table></td>
        </tr>
      </table>      
      <br />
      <table width="577" border="0">
        <tr>
          <td><table width="577" height="38" border="0" cellpadding="0" cellspacing="0" background="{TEMPLATEDIR}images/main_content_bg.gif">
              <tr>
                <td width="179" align="right"><span style="color: #FE8D42;font-weight: bold;font-size: 16px;">玲珑网络科技专营</span></td>
                <td width="398">&nbsp;</td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td align="center"><br />
                <table width="87%" border="0">
                  <tr>
                    <td> 玲珑网络科技专注于互联网应用，为企业在互联网应用提供专业的解决方案.</td>
                  </tr>
            </table>            <br /></td>
        </tr>
      </table>
    <p>&nbsp;</p></td>
  </tr>
</table></div><!-- end content -->      </div>
    </td>
      </tr>
</table>