<td width="184" valign="top"  background="{TEMPLATEDIR}images/tempimg/leftbg0.gif">
		{MENU_SUB}
      <table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
        <tr> 
          <td width="43"><img src="{TEMPLATEDIR}images/tempimg/intro.gif" width="184" height="33"></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="1" cellpadding="5">
        <tr valign="top"> 
          <td height="120"><font style="color:#000000;font-size:12px"><P>致力于PHP+Mysql网络应用程序开发.服务器配置及日常维护管理</P></font></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="0" cellpadding="0" height="38">
        <tr> 
          <td width="43"><img src="{TEMPLATEDIR}images/tempimg/help.gif" width="184" height="33"></td>
        </tr>
      </table>
      <table width="184" border="0" cellspacing="1" cellpadding="5">
        <tr valign="top"> 
          <td height="120"><font style="color:#000000;font-size:12px"></font></td>
        </tr>
      </table>
      
    </td>