<table width="776" border="0" cellspacing="0" cellpadding="0" align="center" >
  <tr>
    <td colspan="2"><div>  <div class="block block-block" id="block-block-1">
    <h2 class="title">
         
   
    </h2>
    <div class="content"><table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="772">

  <tr>
   <td><img name="top_banner_r1_c1" src="{TEMPLATEDIR}images/top_banner_r1_c1.gif" width="158" height="118" border="0" id="top_banner_r1_c1" alt="" /></td>
   <td><img name="top_banner_r1_c2" src="{TEMPLATEDIR}images/top_banner_r1_c2.gif" width="189" height="118" border="0" id="top_banner_r1_c2" alt="" /></td>
   <td><img name="top_banner_r1_c3" src="{TEMPLATEDIR}images/top_banner_r1_c3.gif" width="199" height="118" border="0" id="top_banner_r1_c3" alt="" /></td>
   <td><img name="top_banner_r1_c4" src="{TEMPLATEDIR}images/top_banner_r1_c4.gif" width="226" height="118" border="0" id="top_banner_r1_c4" alt="" /></td>
   <td><img src="{TEMPLATEDIR}images/spacer.gif" width="1" height="118" border="0" alt="" /></td>
  </tr>
</table></div>
 </div>
</div></td>
  </tr>
  <tr>

    <td background="{TEMPLATEDIR}images/menu_tab_bg.gif" height="45" >
            <div >

	  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" background="{TEMPLATEDIR}images/tempimg/10.jpg" align="center" >
	  <tr align="center" >  
			{MAIN_MENU}
			</tr>
		</table>
          </td>
  </tr>
</table>