<div id="mainmenu">
<ul>
<li><a href="{WEBBASEDIR}"><span>Home</span></a></li>
<li><a href="{WEBBASEDIR}"><span>AboutUs</span></a></li>
<li><a href="{WEBBASEDIR}"><span>Domain</span></a></li>
<li><a href="{WEBBASEDIR}"><span>Article</span></a></li>
<li><a href="{WEBBASEDIR}"><span>Solution</span></a></li>
<li><a href="{WEBBASEDIR}"><span>Solution</span></a></li>
<li><a href="{WEBBASEDIR}"><span>Solution</span></a></li>
<li><a href="{WEBBASEDIR}"><span>Solution</span></a></li>
</ul>
</div>
        