        
<div id="admin_container">
<h1>Edit info</h1>
<div id="admin_header">
</div>
<div id="admin_content">

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="artist.php">
<input type="hidden" name="ID" id="ID" value="{ARTISTID}" />
<input type="hidden" name="act" value="{DoAction}" />
<fieldset id="fieldset_________" class="">
<h2>General info</h2><div class="form-row">
  <label >Artistcode:<FONT COLOR="#FF0000">*</FONT></label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ARTISTCODE_ERROR_MSG}</div>
  <input type="text" name="artistcode" id="artistcode" value="{ARTISTCODE}" size="20" />    </div>
</div>
<div class="form-row">
  <label >Artistname:<FONT COLOR="#FF0000">*</FONT></label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ARTISTNAME_ERROR_MSG}</div>
  <input type="text" name="artistname" id="artistname" value="{ARTISTNAME}" size="20" />    </div>
</div>
<div class="form-row">
  <label >ArtistnameEng:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ARTISTNAME_ENG_ERROR_MSG}</div>
  <input type="text" name="artistname_eng" id="artistname_eng" value="{ARTISTNAME_ENG}" size="20" />    </div>
</div>
<div class="form-row">
  <label >Gender:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{GENDER_ERROR_MSG}</div>
  {GENDER_OPTION}    </div>
</div>
<div class="form-row">
  <label >Lang:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{LANG_ERROR_MSG}</div>
  {LANG_OPTION}    </div>
</div>
<div class="form-row">
  <label >Initial:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{INITIAL_ERROR_MSG}</div>
  <input type="text" name="initial" id="initial" value="{INITIAL}" size="20" />    </div>
</div>
<div class="form-row">
  <label >Image:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{IMAGE_ERROR_MSG}</div>
  {IMAGES_FILE}   </div>
</div>
</fieldset>
<ul class="admin_actions">
	{PROFILE_ITEMS_LINK}
	{GALLERY_EVENT_LINK}
	{GALLERY_PHOTO_LINK}
  <li><input class="admin_action_list" value="List" type="button" onclick="document.location.href='artist.php';" /></li>
  <li><input type="submit" name="save" value="Save" class="admin_action_save" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
