        
<div id="admin_container">
<h1>Artist Listing</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>

<div id="admin_filters" >
<FORM id="admin_search_form" name="admin_search_form" METHOD="POST" >
<TABLE align="center">
<TR>
	<TD>{KEYWORD_TEXT}</TD>
	<TD>{LANG_OPTION}</TD>
	<TD>{GENDER_OPTION}</TD>
	<TD>{STATUS_OPTION}</TD>
	<TD><INPUT TYPE="submit" value="Search"></TD>
</TR>
</TABLE>
</FORM>
</div>
        
<form id="admin_list_form" name="admin_list_form" method="post" >
<ul class="admin_actions">
          <li><input class="admin_action_create" value="Create" type="button" onclick="document.location.href='artist.php?act=Add';" /></li>
		  <li><input type="submit" name="save" value="Status To New" class="admin_action_list" 
		  onclick="if (confirm('Are you sure?')) { document.admin_list_form.todo.value='new';document.admin_list_form.submit(); };return false;"   
		  /></li>
		  <li><input type="submit" name="save" value="Status To Live" class="admin_action_save" 
		  onclick="if (confirm('Are you sure?')) { document.admin_list_form.todo.value='live';document.admin_list_form.submit(); };return false;" /></li>
		  <li><input type="submit" name="save" value="Status To Delete" class="admin_action_cancel" 
		  onclick="if (confirm('Are you sure?')) { document.admin_list_form.todo.value='deleted';document.admin_list_form.submit(); };return false;"
		  /></li>
		  <input type="hidden" name="act" value="UpdateSelected" />
		  <input type="hidden" name="todo" value="" />

</ul>

<table cellspacing="0" class="admin_list">      
<thead>
<tr><th>&nbsp;<input type="checkbox" onClick="selectAll(this.checked,'SelectID[]')"/></th><th>&nbsp;Artistid</th><th>&nbsp;Artistcode</th><th>&nbsp;Artistname</th><th>&nbsp;ArtistnameEng</th><th>&nbsp;Gender</th><th>&nbsp;Lang</th><th>&nbsp;Initial</th><th>&nbsp;Status</th><th>Action</th></tr>
</thead>
<tbody>

<!-- BEGIN main_list -->

<tr class="{LIST_TD_CLASS}"><td>&nbsp;<INPUT TYPE="checkbox" NAME="SelectID[]" value="{ARTISTID}"></td><td>&nbsp;{ARTISTID}</td><td>&nbsp;{ARTISTCODE}</td><td>&nbsp;{ARTISTNAME}</td><td>&nbsp;{ARTISTNAME_ENG}</td><td>&nbsp;{GENDER}</td><td>&nbsp;{LANG}</td><td>&nbsp;{INITIAL}</td><td>&nbsp;{STATUS}</td><td>
<ul class="admin_td_actions">
  <li><a href="profile_items.php?artistid={ARTISTID}"><img alt="Profile Items" title="Profile Items" src="{ImagesDir}/p_item_icon.png" /></a></li>
  <li><a href="gallery_photo.php?artistid={ARTISTID}"><img alt="Galley Photo" title="Galley Photo" src="{ImagesDir}/gallery_photo.png" /></a></li>
  <li><a href="gallery_event.php?artistid={ARTISTID}"><img alt="Galley Event" title="Galley Event" src="{ImagesDir}/list.png" /></a></li>
  <li><a href="artist.php?act=Update&ID={ARTISTID}"><img alt="edit" title="edit" src="{ImagesDir}/edit_icon.png" /></a></li>
  <li><a onclick="if (confirm('Are you sure?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="artist.php?act=Del&ID={ARTISTID}"><img alt="delete" title="delete" src="{ImagesDir}/delete_icon.png" /></a></li>
</ul>

</td></tr>

<!-- END main_list -->

</tbody>
<tfoot>
<tr><th colspan="20">
<div class="float-right">
{PAGINATION}
</div>
{TOLTAL_NUM} result </th></tr>
</tfoot>

</table>
<ul class="admin_actions">
          <li><input class="admin_action_create" value="Create" type="button" onclick="document.location.href='artist.php?act=Add';" /></li>
		  <li><input type="submit" name="save" value="Status To New" class="admin_action_list" 
		  onclick="if (confirm('Are you sure?')) { document.admin_list_form.todo.value='new';document.admin_list_form.submit(); };return false;"   
		  /></li>
		  <li><input type="submit" name="save" value="Status To Live" class="admin_action_save" 
		  onclick="if (confirm('Are you sure?')) { document.admin_list_form.todo.value='live';document.admin_list_form.submit(); };return false;" /></li>
		  <li><input type="submit" name="save" value="Status To Delete" class="admin_action_cancel" 
		  onclick="if (confirm('Are you sure?')) { document.admin_list_form.todo.value='deleted';document.admin_list_form.submit(); };return false;"
		  /></li>

</ul>
</form>
