        
<div id="admin_container">
<h1>Edit info</h1>
<div id="admin_header">
</div>
<div id="admin_content">

<form id="admin_edit_form" name="admin_edit_form" method="post"  action="gallery_event.php">
	<input type="hidden" name="ID" id="ID" value="{GAL_EVENTID}" />
	<input type="hidden" name="artistid" id="artistid" value="{ARTISTID}" />	
	<input type="hidden" name="act" value="{DoAction}" />
	<fieldset id="fieldset_________" class="">	
		<h2>General info</h2>
		<div class="form-row">
		  <label >Event Name:</label>  <div class="content">
			  <input type="text" name="gal_eventname" id="gal_eventname" value="{GAL_EVENTNAME}" size="20" />    
		  </div>
		</div>

		<!-- 
		<div class="form-row">
		  <label >Create Time:</label>  
		  <div class="content">
			  <input type="text" name="create_time" id="create_time" value="{CREATE_TIME}" size="20" />    
		  </div>
		</div>
		
		<div class="form-row">
		  <label >Last Updated:</label>  
		  <div class="content">
			  <input type="text" name="last_updated" id="last_updated" value="{LAST_UPDATED}" size="20" />    
		  </div>
		</div>
		-->
	</fieldset>
	
	<ul class="admin_actions">
	  <li><input class="admin_action_list" value="list" type="button" 
	  		onclick="document.location.href='gallery_event.php?artistid={ARTISTID}';" /></li>
	  <li><input type="submit" name="save" value="save" class="admin_action_save" /></li>
	</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
