        
<div id="admin_container">
<h1>Listing</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>
        
<div id="admin_filters" >
 	<FORM id="admin_search_form" name="admin_search_form" METHOD="POST" > 
		<TABLE align="center">
		<TR>
			<TD>{KEYWORD_TEXT}</TD>
			<TD><INPUT TYPE="submit" value="Search"></TD>
		</TR>
		</TABLE>
 	</FORM> 
</div>
        
<form id="admin_list_form" name="admin_list_form" method="post" action="gallery_event.php">

	<ul class="admin_actions">
       <li><input class="admin_action_create" value="create" type="button" onclick="jump('gallery_event.php?act=Add&artistid={ARTISTID}');" /></li>
	   <li><input class="admin_action_list" value="Back to Artist" type="button" onclick="jump('artist.php?act=Update&ID={ARTISTID}')" /></li>
	   <li><input class="admin_action_list" value="Back Home" type="button" onclick="jump('artist.php')" /></li>	   	   
	</ul>

	<input type="hidden" name="artistid" value="{ARTISTID}"/>	
	
	<table cellspacing="0" class="admin_list">      
	<thead>
	<tr>
		<th><input type="checkbox" onClick="selectAll(this.checked,'gal_eventid[]')"/></th>
		<th>Event Id</th>
		<th>Artist Id</th>
		<th>Event Name</th>
		<!-- 
		<th>Create Time</th>
		<th>Last Updated</th>
		--> 
		<th>Action</th>
	</tr>
	
	</thead>
	<tbody>
	<!-- BEGIN main_list -->
	<tr class="{ListTdClass}">
		<td><input type="checkbox" name="gal_eventid[]" value="{GAL_EVENTID}"/>
		<td>{GAL_EVENTID}&nbsp;</td>
		<td>{ARTISTID}&nbsp;</td>		
		<td>{GAL_EVENTNAME}&nbsp;</td>
		<!--  
		<td>{CREATE_TIME}&nbsp;</td>
		<td>{LAST_UPDATED}&nbsp;</td>
		-->
		<td>

			<ul class="admin_td_actions">
				 <li><a href="gallery_event.php?act=Update&ID={GAL_EVENTID}&artistid={ARTISTID}">
				 	<img alt="edit" title="edit" src="{ImagesDir}/edit_icon.png" /></a>
				 </li>
				 <li><a onclick="delRecord()" href="gallery_event.php?act=Del&ID={GAL_EVENTID}&artistid={ARTISTID}">
				 	<img alt="delete" title="delete" src="{ImagesDir}/delete_icon.png" /></a>
				 </li>
			</ul>
		</td>
	</tr>
	
	<!-- END main_list -->
	</tbody>
	
	<tfoot>
	<tr><th colspan="7">
	<div class="float-right">
	</div>
	{ToltalNum} result</th></tr>
	</tfoot>
	</table>
	
	<ul class="admin_actions">
       <li><input class="admin_action_create" value="create" type="button" onclick="jump('gallery_event.php?act=Add&artistid={ARTISTID}');" /></li>
	   <li><input class="admin_action_list" value="Back to Artist" type="button" onclick="jump('artist.php?act=Update&ID={ARTISTID}')" /></li>
	   <li><input class="admin_action_list" value="Back Home" type="button" onclick="jump('artist.php')" /></li>
	</ul>	
	
</form>