        
<div id="admin_container">
<h1>Profile Items Listing</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>
        
<ul class="admin_actions">
          <li><input class="admin_action_create" value="Create" type="button" onclick="document.location.href='profile_items.php?act=Add&artistid={PARTISTID}';" /></li>
          <li><input class="admin_action_create" value="Artist List" type="button" onclick="document.location.href='artist.php';" /></li>
</ul>

<table cellspacing="0" class="admin_list">      
<thead>
<tr><th>&nbsp;ArtistName</th><th>&nbsp;ItemName</th><th>&nbsp;ItemValue</th><th>&nbsp;Order</th><th>Action</th></tr>
</thead>
<tbody>
<!-- BEGIN main_list -->
<tr class="{LIST_TD_CLASS}"><td>&nbsp;{ARTISTID}</td><td>&nbsp;{ITEM_NAME}</td><td>&nbsp;{ITEM_VALUE}</td><td>&nbsp;{ORDR}</td><td>
<ul class="admin_td_actions">
  <li><a href="profile_items.php?act=MoveUp&ID={ITEMID}&artistid={PARTISTID}"><img alt="move up" title="move up" src="{ImagesDir}/move_up.png" /></a></li>
  <li><a href="profile_items.php?act=MoveDown&ID={ITEMID}&artistid={PARTISTID}"><img alt="move down" title="move down" src="{ImagesDir}/move_down.png" /></a></li>
  <li><a href="profile_items.php?act=Update&ID={ITEMID}&artistid={PARTISTID}"><img alt="edit" title="edit" src="{ImagesDir}/edit_icon.png" /></a></li>
  <li><a onclick="if (confirm('Are you sure?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="profile_items.php?act=Del&ID={ITEMID}&artistid={PARTISTID}"><img alt="delete" title="delete" src="{ImagesDir}/delete_icon.png" /></a></li>
</ul>

</td>
         </tr>
<!-- END main_list -->
</tbody>
<tfoot>
<tr><th colspan="8">
<div class="float-right">
{PAGINATION}
</div>
{TOLTAL_NUM} result </th></tr>
</tfoot>

</table>
