        
<div id="admin_container">
<h1>Edit info</h1>
<div id="admin_header">
</div>
<div id="admin_content">

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="profile_items.php">
<input type="hidden" name="ID" id="ID" value="{ITEMID}" />
<input type="hidden" name="artistid" id="artistid" value="{PARTISTID}" />
<input type="hidden" name="act" value="{DoAction}" />
<input type="hidden" name="ordr" value="{ORDR}" />
<fieldset id="fieldset_________" class="">
<h2>General info</h2><div class="form-row">
  <label >ItemName:<FONT COLOR="#FF0000">*</FONT></label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ITEM_NAME_ERROR_MSG}</div>
  <input type="text" name="item_name" id="item_name" value="{ITEM_NAME}" size="20" />    </div>
</div>
<div class="form-row">
  <label >ItemValue:<FONT COLOR="#FF0000">*</FONT></label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ITEM_VALUE_ERROR_MSG}</div>
  <input type="text" name="item_value" id="item_value" value="{ITEM_VALUE}" size="20" />    </div>
</div>
</fieldset>
<ul class="admin_actions">
  <li><input class="admin_action_list" value="List" type="button" onclick="document.location.href='profile_items.php?artistid={PARTISTID}';" /></li>
  <li><input type="submit" name="save" value="Save" class="admin_action_save" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
