<script type="text/javascript" src="{$smarty.const.THEMES_DIR}site.js"></script>

<TABLE id="click-menu1" class="click-menu">
{section name=data loop=$MainMenu}
<TR>
	<TD>
	{section name=data2 loop=$MainMenu[data]}
		<div class="box1"><a href="{$MainMenu[data][data2].URL}">{$MainMenu[data][data2].Name}</a></div>
		<div class="section">
		{section name=data3 loop=$MainMenu[data][data2]}
			<div class="box2">
			  <a href="{$MainMenu[data][data2][data3].URL}">{$MainMenu[data][data2][data3].Name}</a>
			</div>
		{/section}
		</div>
	{/section}
	</TD>
</TR>
{/section}
</TABLE>

{literal}
    <script type="text/javascript">
    var clickMenu1 = new ClickShowHideMenu('click-menu1');
    clickMenu1.init();
    </script>
{/literal}