<script type="text/javascript" src="{$smarty.const.THEMES_DIR}right_menu.js"></script>
<body oncontextmenu="window.event.returnValue=false" >
{literal}
<SCRIPT language=JScript>

function Do_refresh() 
{
	window.location.reload();
}

function Do_help()
{

	var s_help='<style>body,td{font:menu;padding:2}</style>';
{/literal}	
	s_help+='<title>FlushPHP FrameWork</title>';
	s_help+='<body bgcolor="#ECE9D8" >';
	s_help+='<br>{$langGeneralAboutUsInfo}<br/><br/>{$langGeneralCopyRight} ';
	showModalDialog("about:"+s_help+"","","dialogHeight:400px;dialogWidth:400px;help:yes;status:no")
{literal}
}

function showLogoRightMenu ()
{
{/literal}
	var menu = new RightMenu();
	menu.AddItem("Logo","Logo","+","{$langGeneralUpdate}{$langSiteLogo}","rbpm","PopupWindow.php?Module=Site&Page=ModuleBaseInfo");
	
	menu.AddExtendMenu("menu","menu","24","{$langMenu}","rbpm",null);
	menu.AddItem("m_acc1","html","+","{$langGeneralAdd}{$langMenu}","menu","PopupWindow.php?Module=Site&Page=SiteMenu&Action=Add");
	menu.AddItem("m_acc2","html","+","{$langMenu}{$langGeneralList}","menu","PopupWindow.php?Module=Site&Page=SiteMenu");
	
	menu.AddItem("refresh","start_refresh","a"," {$langSiteRefresh} ","rbpm",null);
	menu.AddItem("help","start_helpsss","/"," {$langGeneralAbout} ","rbpm",null);
	
	Menu_DIV.innerHTML=menu.GetMenu();
{literal}
}
function showCopyRightRightMenu ()
{
{/literal}
	var menu = new RightMenu();
	menu.AddItem("CopyRight","CopyRight","+","{$langGeneralUpdate}{$langSiteCopyRight}","rbpm","PopupWindow.php?Module=Site&Page=ModuleBaseInfo");
	menu.AddItem("refresh","start_refresh","a"," {$langSiteRefresh} ","rbpm",null);
	menu.AddItem("help","start_helpsss","/"," {$langGeneralAbout} ","rbpm",null);
	Menu_DIV.innerHTML=menu.GetMenu();
{literal}
}

function showSimpleHomeRightMenu ()
{
{/literal}
	var menu = new RightMenu();
	menu.AddItem("quickLink","quickLink","+","{$langQuickLink}","rbpm","PopupWindow.php?Module=Site&Page=ModuleQuickLink&Action=Add");
	menu.AddItem("publish","start_helpsss","b"," {$langPublish} ","rbpm",null);
	menu.AddItem("update_template","start_helpsss","d"," {$langUpdateTemplate} ","rbpm",null);
	menu.AddItem("refresh","start_refresh","a"," {$langSiteRefresh} ","rbpm",null);
	menu.AddItem("help","start_helpsss","/"," {$langGeneralAbout} ","rbpm",null);
	Menu_DIV.innerHTML=menu.GetMenu();
{literal}
}

function showNewsContentRightMenu ()
{
{/literal}
	var menu = new RightMenu();
	
	menu.AddExtendMenu("menu","menu","24","{$langSiteModuleNews}","rbpm",null);
	menu.AddItem("m_acc1","html","+","{$langGeneralAdd}{$langSiteModuleNews}","menu","PopupWindow.php?Module=Site&Page=ModuleNews&Action=Add&MenuID={$__MenuID__}");
	menu.AddItem("m_acc2","html","+","{$langSiteModuleNews}{$langGeneralList}","menu","PopupWindow.php?Module=Site&Page=SiteMenu");

	menu.AddItem("publish","start_helpsss","b"," {$langPublish} ","rbpm",null);
	menu.AddItem("update_template","start_helpsss","d"," {$langUpdateTemplate} ","rbpm",null);
	menu.AddItem("refresh","start_refresh","a"," {$langSiteRefresh} ","rbpm",null);
	menu.AddItem("help","start_helpsss","/"," {$langGeneralAbout} ","rbpm",null);
	Menu_DIV.innerHTML=menu.GetMenu();
{literal}
}

</SCRIPT>
{/literal}
<div id="Menu_DIV"></div>
