td
{
	font-size: 12px;
	text-decoration: none;
}
.grid_table {
	width: 99%;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}
.new_table {
	width: 85%;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
}
.navigator
{
	width:100%;
	font-size: 14px;
	text-decoration: none;
	background-color: #F9F9F9;
	height: 25px;
}

.grid_table_head {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	height: 25px;
	background-image: url(images/bgcolor_th.gif);
}
.grid_table_tr_alternate {
	background-color: #F3F3F3;
}

.copyright {
	background-image: url(images/bgcolor.gif);
	color: #333333;
	text-decoration: none;
	background-color: #F9F9F9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
}
.msg_table_head_msg {
	margin: 2px;
	padding: 2px;
	border: 1px dotted #666666;
	height: 30%;
	width: 60%;
}
.msg_td_msg {
	background-color: #CCCCCC;
	margin: 0px;
	padding: 0px;
}
.msg_td_head_msg {
	background-image: url(images/bgcolor_th.gif);
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.msg_td_head_warnning {
	background-color: #CC6600;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.msg_td_head_error {
	background-color: #FF0000;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.msg_td_head_notice {
	background-color: #006699;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

/* TAB ELEMENTS DEFINITIONS */

#navContainer
{
	text-align: left;
	text-indent: 20px;
}

#navlist
{
padding: 3px 0;
margin-left: 0px;
border-bottom: 0.1em solid #003399;
font: bold 12px Verdana, sans-serif;
}

#navlist li
{
    list-style: none;
    margin: 0;
    display: inline;
	white-space: nowrap;
}

#navlist li a
{
	/* CHANGE HERE - INACTIVE TAB ELEMENTS BACKGROUND COLOR*/
    color: #6666CC;
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #666666;
	border-bottom: none;
	font-weight : normal;
	text-decoration: none;
	background-color: #CCCCDD;
}

#navlist li a:link {
	color: #6666CC;
	font-size: 14px;
	font-weight: bold;
}
#navlist li a:visited {
	color: #6666CC;
	font-size: 14px;
	font-weight: bold;
}

#navlist li a:hover
{
	/* CHANGE HERE - TAB ELEMENTS: HOVER OVER BACKGROUND COLOR*/
    color:#FFFFFF;
	font-weight : bold;
	border-color: #227;
	background-color: #7D7DAA;
}

#navlist li a#current
{
	/* CHANGE HERE - SELECTED TAB ELEMENTS BACKGROUND COLOR*/
    color: rgb(255,255,255);
	font-weight: bold;
	border-bottom: 1px solid #003399;
	background-color: #7D7DAA;
}

.XulMenu {
	font-family: georgia, tahoma, verdana;
	font-size: 11px;
    -moz-user-select: none;
}
.XulMenu .button,
.XulMenu .button:hover,
.XulMenu .button-active,
.XulMenu .button-active:hover {
	height:25px;
	line-height: normal;
	padding: 1px 6px 1px 6px;
	color: #000000;
	text-decoration: none;
	cursor: default;
	white-space: nowrap;
	display: block;
	position: relative;
	vertical-align: baseline;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
	border-top-color: #FAF8F1;
}
.XulMenu .button:hover {
	height:25px;
	border-color: #ffffff #ACA899 #ACA899 #ffffff;
	vertical-align: baseline;
}
.XulMenu .button-active,
.XulMenu .button-active:hover {
    border-color: #ACA899 #ffffff #ffffff #ACA899;
}
.XulMenu .item,
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    background: #ffffff;
    line-height: normal;
    padding: 3px 30px 3px 20px;
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    background: #316AC5;
    color: #ffffff;
}
.XulMenu .section {
    background: #ffffff;
    border: 1px solid;
    border-color: #F1EFE2 #716F64 #716F64 #F1EFE2;
    padding: 2px 1px 1px 2px;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.XulMenu .arrow {
    position: absolute;
    top: 7px;
    right: 8px;
    border: 0;
}
#bartop {
	background-image: url(images/bgcolor.gif);
	border: 1px solid;
	border-color: #ffffff #ACA899 #ACA899 #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	cursor: default;
	background-color: #4791C5;
}

* html .XulMenu td { position: relative; } /* ie 5.0 fix */
a:link {
	color: #333333;
	text-decoration: none;
}
a {
	color: #333333;
	text-decoration: none;
}