body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

td
{
	font-size: 14px;
	text-decoration: none;
}
.click-menu {
	width: 135px;
	background-color: #CCCCDD;
}
.click-menu .box1 {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	padding: 4px 8px;
	border-width: 1px;
	border-color: #666699;
	border-style: solid solid solid solid;
	cursor: default;
	position: relative;
	text-decoration: none;
	background-color: #666699;
}
.grid_table {
	width: 100%;
}
.grid_table_head {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	background-color: #CCCCCC;
	height: 25px;
}
.grid_table_tr_alternate {
	background-color: #F3F3F3;
}
.click-menu .box1 a {
	color: #494949;
	text-decoration: none;
	white-space: nowrap;
}
.click-menu .box1-hover {
	font-weight: bold;
	font-size: 14px;
	padding: 4px 8px;
	border-width: 1px;
	border-color: #6666CC;
	border-style: solid solid solid solid;
	cursor: default;
	position: relative;
	text-decoration: none;
	background-color: #7D7DAA;
	color: #000000;
}
.click-menu .box1-hover a {
	color: #494949;
	text-decoration: none;
	white-space: nowrap;
}

.click-menu .box1-open {
	font-weight: bold;
	font-size: 14px;
	padding: 4px 8px;
	border-width: 1px;
	border-color: #6666CC;
	border-style: solid solid none solid;
	cursor: default;
	position: relative;
	background-color: #666699;
	color: #000000;
}
.click-menu .box1-open a {
	color: #494949;
	text-decoration: none;
	white-space: nowrap;
}

.click-menu .box1-open-hover {
	font-weight: bold;
	font-size: 14px;
	padding: 4px 8px;
	border-width: 1px;
	border-color: #6666CC;
	border-style: solid solid none solid;
	cursor: default;
	position: relative;
	background-color: #7D7DAA;
	color: #000000;
}
.click-menu .box1-open-hover a {
	color: #494949;
	text-decoration: none;
	white-space: nowrap;
}


.click-menu .box1 img, .click-menu .box1-hover img, .click-menu .box1-open img, .click-menu .box1-open-hover img {
	position: absolute;
	top: 6px;
	right: 6px;
	color: #000000;
	text-decoration: none;
}
.click-menu .section {
	font-size: 14px;
	line-height: 15px;
	padding: 5px 5px 6px 5px;
	border-width: 1px;
	border-color: #6666CC;
	border-style: none solid solid solid;
	display: none;
	background-color: #B5B5CE;
}
.click-menu .section a {
	color: #6666CC;
	text-decoration: none;
	white-space: nowrap;
	background-color: #B5B5CE;
}
.click-menu .section a:hover {
	color: #6666CC;
	text-decoration: none;
	white-space: nowrap;
	background-color: #B5B5CE;
}
.click-menu .box2 {
	background-color: #B5B5CE;
}
.click-menu .box2-hover {
	background-color: #B5B5CE;
}
.click-menu .section .active,
.click-menu .section .active:hover {
    color: yellow;
}
.copyright {
	color: #333333;
	text-decoration: none;
	background-color: #F9F9F9;
}
.msg_table_head_msg {
	margin: 2px;
	padding: 2px;
	border: 3px dashed #666666;
	height: 30%;
	width: 60%;
}
.msg_td_msg {
	background-color: #CCCCCC;
	margin: 0px;
	padding: 0px;
}
.msg_td_head_msg {
	background-color: #666699;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.msg_td_head_warnning {
	background-color: #CC6600;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.msg_td_head_error {
	background-color: #FF0000;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.msg_td_head_notice {
	background-color: #006699;
	height: 30px;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
