generator:
  class:              sfPropelAdminGenerator
  param:
    model_class:      FinanceCategory
    theme:            default
    fields:
      category_name: { name: 分类名称 }
      active: { name: 激活 }
      active_list: { name: 激活 }
    list:
      display: [=category_name, _active_list ]
      max_per_page:   5
      title:          凭证分类列表
      object_actions:
        _edit:        -
        _delete:      -
    edit:
      title:          编辑凭证%%category_name%%分类
      display:     [category_name, _active ]
    