generator:
  class:              sfPropelAdminGenerator
  param:
    model_class:      Solution
    theme:            default
    fields:
      question: { name: 问题 }
      solution: { name: 解决方案 }
      active: { name: 激活 }
      active_list: { name: 激活 }
    edit:
      tab_bar: edit_tab
      title:          编辑解决方案%%solution%%
      display:     [_question, solution, _active ]
      fields:
          solution: { type: textarea_tag, params: rich=true tinymce_options=width:330 tinymce_options=height:250 size=60 }
      actions:
        _save:        -
      