<script type="text/javascript" src="{WEBTEMPLATEDIR}CommonServer.php?client=all"></script>
<script type="text/javascript" src="{WEBTEMPLATEDIR}CommonServer.php?stub=CellPhoneSMS"></script>
<script type="text/javascript">

var callback = {
	callPhone: function(result) 
	{

	},	
	hangUp: function(result) 
	{
		 alert(result);

	},	
	callMobilePhone: function(result) 
	{
		 alert(result);
	
	},
	sendSMS: function(result) 
	{
		 alert(result);
	
	}
		
}

function hangUp(result)
{
//		 alert(result);
		 var bdHtml = '';
		 bdHtml+= '<form action="{WEBTEMPLATEDIR}CommonServer.php" method="post" onsubmit="return !HTML_AJAX.formSubmit(this, \'target\', {className: \'CellPhoneSMS\', methodName:\'hangUp\'});"><div class="container" style="color:black;">';
		 bdHtml+= '<INPUT TYPE="submit" value="Cancel">';
		 bdHtml+= '</div></form>';
		HTML_AJAX_Util.setInnerHTML(result+'phone',bdHtml,'append');

}

var remoteCellPhoneSMS = new CellPhoneSMS(callback); // our php5/4 compat version

</script>   
     
<div id="admin_container">
<h1>{lang_Listing}</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>

<div id="admin_filter">

<FORM METHOD="POST" ACTION="" name="admin_filter">
{KEYWORD} {CATEGORYOPTION} {GENDEROPTION} {ACTIVEOPTION} <INPUT TYPE="submit" value="{lang_Search}">
</FORM>

</div>
        
<ul class="admin_actions">
          <li><input class="admin_action_create" value="{lang_Create}" type="button" onclick="document.location.href='{WEBDIR}/contact/apf_contact/create';" /></li>
          <li><input class="admin_action_create" value="{lang_ContactCategory}" type="button" onclick="document.location.href='{WEBDIR}/contact/apf_contact_category';" /></li>
          <li><input class="admin_action_create" value="{lang_ExportAll}" type="button" onclick="document.location.href='{WEBDIR}/contact/apf_contact/export';" /></li>
          <li><input class="admin_action_create" value="{lang_Import}" type="button" onclick="document.location.href='{WEBDIR}/contact/apf_contact/import';" /></li>
</ul>

<pre id="target">
</pre>

<table cellspacing="0" class="admin_list">      
<thead>
<tr>
<th>&nbsp;<input type="checkbox" onClick="selectAll(this.checked,'SelectID[]')"/></th>
<th>&nbsp;{lang_Id}</th>
<th>&nbsp;{lang_Category}</th>
<th>&nbsp;{lang_CompanyId}</th>
<th>&nbsp;{lang_Name}</th>
<th>&nbsp;{lang_Gender}</th>
<th>&nbsp;{lang_Phone}</th>
<th>&nbsp;{lang_Mobile}</th>
<th>&nbsp;{lang_Active}</th>
<th>{lang_Action}</th>
</tr>
</thead>
<tbody>
<!-- BEGIN main_list -->
<tr class="{LIST_TD_CLASS}">
<td>&nbsp;<INPUT TYPE="checkbox" NAME="SelectID[]" value="{ID}"></td>
<td>&nbsp;{ID}</td>
<td>&nbsp;{CATEGORY}</td>
<td>&nbsp;{COMPANY_ID}</td>
<td>&nbsp;{NAME}</td>
<td>&nbsp;{GENDER}</td>
<td>&nbsp;{PHONE}</td>
<td>&nbsp;{MOBILE}</td>
<td>&nbsp;{ACTIVE}</td>
<td>
<ul class="admin_td_actions">
  <li><a href="{WEBDIR}/contact/apf_contact/exportword/{ID}"><img alt="{lang_ExportToWord}" title="{lang_ExportToWord}" src="{WEBTEMPLATEDIR}images/word.gif" height="18" /></a></li>
  <li><a href="{WEBDIR}/contact/apf_contact/exportvcard/{ID}"><img alt="{lang_ExportToVCard}" title="{lang_ExportToVCard}" src="{WEBTEMPLATEDIR}images/i.p.cont.individual.gif" /></a></li>
  <li><a href="{WEBDIR}/contact/apf_contact/update/{ID}"><img alt="{lang_Edit}" title="{lang_Edit}" src="{WEBTEMPLATEDIR}images/edit_icon.png" /></a></li>
  <li><a onclick="if (confirm('Are you sure?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{WEBDIR}/contact/apf_contact/del/{ID}"><img alt="{lang_Delete}" title="{lang_Delete}" src="{WEBTEMPLATEDIR}images/delete_icon.png" /></a></li>
</ul>

</td>
         </tr>
<!-- END main_list -->
</tbody>
<tfoot>
<tr><th colspan="19">
<div class="float-right">
{PAGINATION}
</div>
{TOLTAL_NUM} {lang_Result} </th></tr>
</tfoot>

</table>
