        
<div id="admin_container">
<h1>{lang_EditInfo}</h1>
<div id="admin_header">
</div>
<div id="admin_content">
  <div class="{SUCCESS_CLASS}">
	{SUCCESS_MSG}
  </div>

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="{WEBDIR}/product/apf_product/{DOACTION}">
<input type="hidden" name="ID" id="ID" value="{ID}" />
<fieldset id="fieldset_________" class="">
<h2>{lang_GeneralInfo}</h2><div class="form-row">
  <label >{lang_Category}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{CATEGORY_ERROR_MSG}</div>
  {CATEGORYOPTION}    </div>
</div>
<div class="form-row">
  <label >{lang_CompanyId}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{COMPANY_ID_ERROR_MSG}</div>
  <input type="text" name="company_id" id="company_id" value="{COMPANY_ID}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Name}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{NAME_ERROR_MSG}</div>
  <input type="text" name="name" id="name" value="{NAME}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Price}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{PRICE_ERROR_MSG}</div>
  <input type="text" name="price" id="price" value="{PRICE}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Photo}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{PHOTO_ERROR_MSG}</div>
  {FILEPHOTO}    </div>
</div>
<div class="form-row">
  <label >{lang_Memo}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{MEMO_ERROR_MSG}</div>
  <TEXTAREA NAME="memo" ROWS="8" COLS="40">{MEMO}</TEXTAREA>    </div>
</div>
<div class="form-row">
  <label >{lang_Active}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ACTIVE_ERROR_MSG}</div>
  {ACTIVEOPTION}    </div>
</div>
</fieldset>
<ul class="admin_actions">
  <li><input class="admin_action_list" value="{lang_List}" type="button" onclick="document.location.href='{WEBDIR}/product/apf_product/list';" /></li>
  <li><input type="submit" name="save" value="{lang_Save}" class="admin_action_save" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
