<link rel="stylesheet" type="text/css" media="all" href="{TEMPLATEDIR}calendar/calendar-win2k-cold-1.css" title="win2k-cold-1" />
<script type="text/javascript" src="{TEMPLATEDIR}calendar/calendar.js"></script>
<script type="text/javascript" src="{TEMPLATEDIR}calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="{TEMPLATEDIR}calendar/calendar-setup.js"></script>
        
<div id="admin_container">
<h1>{lang_EditInfo}</h1>
<div id="admin_header">
</div>
<div id="admin_content">
  <div class="{SUCCESS_CLASS}">
	{SUCCESS_MSG}
  </div>

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="{WEBDIR}/finance/apf_finance/{DOACTION}">
<input type="hidden" name="ID" id="ID" value="{ID}" />
<fieldset id="fieldset_________" class="">
<h2>{lang_GeneralInfo}</h2><div class="form-row">
  <label >{lang_Category}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{CATEGORY_ERROR_MSG}</div>
  {CATEGORYOPTION}    </div>
</div>
<div class="form-row">
  <label >{lang_CreateDate}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{CREATE_DATE_ERROR_MSG}</div>
  {CREATEDATE} </div>
</div>
<div class="form-row">
  <label >{lang_Amount}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{AMOUNT_ERROR_MSG}</div>
  {AMOUNTTEXT}    </div>
</div>
<div class="form-row">
  <label >{lang_Debit}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{DEBIT_ERROR_MSG}</div>
  {DEBITOPTION}    </div>
</div>
<div class="form-row">
  <label >{lang_Money}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{MONEY_ERROR_MSG}</div>
  <input type="text" name="money" id="money" value="{MONEY}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Memo}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{MEMO_ERROR_MSG}</div>
  <TEXTAREA NAME="memo" ROWS="8" COLS="40">{MEMO}</TEXTAREA> </div>
</div>
<div class="form-row">
  <label >{lang_Active}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ACTIVE_ERROR_MSG}</div>
  {ACTIVEOPTION}    </div>
</div>
</fieldset>
<ul class="admin_actions">
  <li><input class="admin_action_list" value="{lang_List}" type="button" onclick="document.location.href='{WEBDIR}/finance/apf_finance/list';" /></li>
  <li><input type="submit" name="save" value="{lang_Save}" class="admin_action_save" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
