        
<div id="admin_container">
<h1>{lang_Document}{lang_Listing}</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>
        
<ul class="admin_actions">
          <li><input class="admin_action_create" value="{lang_CreateFolder}" type="button" onclick="document.location.href='{WEBDIR}/document/apf_folders/createfolder/{PID}';" /></li>
          <li><input class="admin_action_create" value="{lang_CreateFile}" type="button" onclick="document.location.href='{WEBDIR}/document/apf_folders/createfile/{PID}';" /></li>
</ul>

<table cellspacing="0" class="admin_list">
<tr>
<td colspan="12">
<strong>{lang_Position}: {NAVIGATOR}</strong>
</td>
</tr>
      
<thead>
<tr>
<!-- <th>&nbsp;{lang_Id}</th> -->
<th>&nbsp;{lang_Name}</th>
<th>&nbsp;{lang_Description}</th>
<th>&nbsp;{lang_Password}</th>
<th>{lang_Action}</th>
</tr>
</thead>
<tbody>
<!-- BEGIN main_list -->
<tr class="{LIST_TD_CLASS}">
<!-- <td>&nbsp;{ID}</td> -->
<td>&nbsp;{NAME}</td>
<td>&nbsp;{DESCRIPTION}</td>
<td>&nbsp;{PASSWORD}</td>
<td>
<ul class="admin_td_actions">
  <li>{DOWNLOAD_LINK}</li>
  <li><a onclick="if (confirm('Are you sure?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{WEBDIR}/document/apf_folders/{DEL_ACTION}/{ID}"><img alt="{lang_Delete}" title="{lang_Delete}" src="{WEBTEMPLATEDIR}images/delete_icon.png" /></a></li>
  <li>{EDIT_LINK}</li>
</ul>

</td>
         </tr>
<!-- END main_list -->
</tbody>
<tfoot>
<tr><th colspan="12">
<div class="float-right">
{PAGINATION}
</div>
{TOLTAL_NUM} {lang_Result} </th></tr>
</tfoot>

</table>
