<SCRIPT LANGUAGE="JavaScript" SRC="{WEBTEMPLATEDIR}js/selectbox.js"></SCRIPT>

<script type="text/javascript">
function dosubmit(form) 
{
	selectAllOptions(document.getElementById('relatedlist[]'));
	form.submit();	
}
</SCRIPT>

<div id="admin_container">
<h1>{TOPIC}</h1>
<div id="admin_header">
</div>

<div >

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="{WEBDIR}{RELATED_CONTACT_SUBMIT_URL}{DOACTION}">
<input type="hidden" name="ID" id="ID" value="{C_ID}" />
<fieldset id="fieldset_________" class="">
<h2>{lang_Relationship}</h2>

<div class="form-row">
<TABLE BORDER=0>
<TR>
	<TD>
	<SELECT ID="relatedlist[]" NAME="relatedlist[]" MULTIPLE SIZE=10 >
		{OPTION_ITEMS}
	</SELECT>
	<input type="hidden" name="old_relatedlist" id="old_relatedlist" VALUE="{OLD_RELATEDLIST}" />
	</TD>
	<TD VALIGN=MIDDLE ALIGN=CENTER>
	<ul class="admin_actions">
		  <li><input class="admin_action_list" value="{lang_Add}" type="button" onclick="popOpenWindow('{WEBDIR}{RELATED_CONTACT_ADD_URL}', 'related', '', 550, 550, 'yes');" /></li><BR><BR>
		  <li><input class="admin_action_list" value="{lang_Remove}" type="button" onclick="removeSelectedOptions(document.getElementById('relatedlist[]'));" /></li><BR><BR>
	</ul>
	</TD>
</TR>
</TABLE>
</div>

</fieldset>
<ul class="admin_actions">
  <li><input class="admin_action_list" value="{lang_Close}" type="button" onclick="window.close();" /></li>
  <li><input type="button" value="{lang_Save}" class="admin_action_save" onclick="dosubmit(document.admin_edit_form);" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
