        
<div id="admin_container">
<h1>Listing</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>
        
<ul class="admin_actions">
          <li><input class="admin_action_create" value="Create" type="button" onclick="document.location.href='{WEBDIR}/news/apf_news_category/create';" /></li>
</ul>

<table cellspacing="0" class="admin_list">      
<thead>
<tr><th>&nbsp;Id</th>
<th>&nbsp;CategoryName</th>
<th>&nbsp;Active</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<!-- BEGIN main_list -->
<tr class="{LIST_TD_CLASS}"><td>&nbsp;{ID}</td>
<td>&nbsp;{CATEGORY_NAME}</td>
<td>&nbsp;{ACTIVE}</td>
<td>
<ul class="admin_td_actions">
  <li><a href="{WEBDIR}/news/apf_news_category/update/{ID}"><img alt="edit" title="edit" src="{ImagesDir}/edit_icon.png" /></a></li>
  <li><a onclick="if (confirm('Are you sure?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{WEBDIR}/news/apf_news_category/del/{ID}"><img alt="delete" title="delete" src="{ImagesDir}/delete_icon.png" /></a></li>
</ul>

</td>
         </tr>
<!-- END main_list -->
</tbody>
<tfoot>
<tr><th colspan="7">
<div class="float-right">
{PAGINATION}
</div>
{TOLTAL_NUM} result </th></tr>
</tfoot>

</table>
