<script type="text/javascript" src="{WEBTEMPLATEDIR}CommonServer.php?client=main,request,httpclient,dispatcher,json,util"></script>
<script type="text/javascript" src="{WEBTEMPLATEDIR}CommonServer.php?stub=UploadProgressMeterStatus"></script>
<script src="{WEBTEMPLATEDIR}js/UploadProgressMeter.js" type="text/javascript"></script>
<style>
.progressBar {
	position: relative;
	padding: 2px;
	width: 300px;
	height: 40px;
	font-size: 14px;
}
.progressBar .background {
	border: solid 1px black;
	width: 270px;
	height: 20px;
}
.progressBar .bar {
	position: relative;
	background-color: blue;
	width: 0px;
	height: 20px;
}
</style>
	        
<div id="admin_container">
<h1>{lang_EditInfo}</h1>
<div id="admin_header">
</div>
<div id="admin_content">
  <div class="{SUCCESS_CLASS}">
	{SUCCESS_MSG}
  </div>

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="{WEBDIR}/users/apf_users/{DOACTION}" onsubmit="UploadProgressMeter_Start(this); return true;">
<input type="hidden" name="ID" id="ID" value="{ID}" />
<input type="hidden" name="old_password" id="old_password" value="{OLD_PASSWORD}" />
<fieldset id="fieldset_________" class="">
<h2>{lang_GeneralInfo}</h2><div class="form-row">
  <label >{lang_UserName}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{USER_NAME_ERROR_MSG}</div>
  <input type="text" name="user_name" id="user_name" value="{USER_NAME}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_UserPwd}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{USER_PWD_ERROR_MSG}</div>
  <input type="password" name="user_pwd" id="user_pwd" value="{USER_PWD}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Gender}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{GENDER_ERROR_MSG}</div>
  {GENDEROPTION}    </div>
</div>
<div class="form-row">
  <label >{lang_Addrees}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ADDREES_ERROR_MSG}</div>
  <input type="text" name="addrees" id="addrees" value="{ADDREES}" size="40" />    </div>
</div>
<div class="form-row">
  <label >{lang_Phone}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{PHONE_ERROR_MSG}</div>
  <input type="text" name="phone" id="phone" value="{PHONE}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Email}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{EMAIL_ERROR_MSG}</div>
  <input type="text" name="email" id="email" value="{EMAIL}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Photo}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{PHOTO_ERROR_MSG}</div>
  {FILEPHOTO}    </div>
</div>
<div class="form-row">
  <label >{lang_Active}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ACTIVE_ERROR_MSG}</div>
  {ACTIVEOPTION}    </div>
</div>
</fieldset>
<ul class="admin_actions">
  <li><input class="admin_action_list" value="{lang_List}" type="button" onclick="document.location.href='{WEBDIR}/users/apf_users/list';" /></li>
  <li><input type="submit" name="save" value="{lang_Save}" class="admin_action_save" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
