        
<div id="admin_container">
<h1>{lang_EditInfo}</h1>
<div id="admin_header">
</div>
<div id="admin_content">
  <div class="{SUCCESS_CLASS}">
	{SUCCESS_MSG}
  </div>

<form id="admin_edit_form" name="admin_edit_form" method="post" enctype="multipart/form-data" action="{WEBDIR}/agreement/apf_agreement/{DOACTION}">
<input type="hidden" name="ID" id="ID" value="{ID}" />
<fieldset id="fieldset_________" class="">
<h2>{lang_GeneralInfo}</h2><div class="form-row">
  <label >{lang_Noid}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{NOID_ERROR_MSG}</div>
  <input type="text" name="noid" id="noid" value="{NOID}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Category}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{CATEGORY_ERROR_MSG}</div>
  {CATEGORYOPTION}    </div>
</div>
<div class="form-row">
  <label >{lang_Effectdate}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{EFFECTDATE_ERROR_MSG}</div>
  {EFFECT_DATE}   </div>
</div>
<div class="form-row">
  <label >{lang_Expireddate}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{EXPIREDDATE_ERROR_MSG}</div>
  {EXPIRED_DATE}   </div>
</div>
<div class="form-row">
  <label >{lang_Buyer}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{BUYER_ERROR_MSG}</div>
  <input type="text" name="buyer" id="buyer" value="{BUYER}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Vender}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{VENDER_ERROR_MSG}</div>
  <input type="text" name="vender" id="vender" value="{VENDER}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Buyersignature}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{BUYERSIGNATURE_ERROR_MSG}</div>
  <input type="text" name="buyersignature" id="buyersignature" value="{BUYERSIGNATURE}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Vendersignature}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{VENDERSIGNATURE_ERROR_MSG}</div>
  <input type="text" name="vendersignature" id="vendersignature" value="{VENDERSIGNATURE}" size="20" />    </div>
</div>
<div class="form-row">
  <label >{lang_Description}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{DESCRIPTION_ERROR_MSG}</div>
  {DESCRIPTION_TEXT}    </div>
</div>
<div class="form-row">
  <label >{lang_Access}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ACCESS_ERROR_MSG}</div>
  {ACCESSOPTION}    </div>
</div>
<!-- 
<div class="form-row">
  <label >{lang_Active}:</label>  <div class="content">
  <div class="form-error-msg" style="color: #ff0000;" id="error_for_users_user_name">{ACTIVE_ERROR_MSG}</div>
  <input type="text" name="active" id="active" value="{ACTIVE}" size="20" />    </div>
</div>
 -->
</fieldset>
<ul class="admin_actions">
  <li><input class="admin_action_list" value="{lang_List}" type="button" onclick="document.location.href='{WEBDIR}/agreement/apf_agreement/list';" /></li>
  <li><input type="submit" name="save" value="{lang_Save}" class="admin_action_save" /></li>

</ul>
</form>

<ul class="admin_actions">
      <li class="float-left"></li>
</ul>
</div>

<div id="admin_footer">
</div>
</div>
