       
<div id="admin_container">
<h1>{lang_Listing}</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>
        
<table cellspacing="0" class="admin_list">      
<thead>
<tr><th>&nbsp;{lang_Id}</th>
<th>&nbsp;{lang_Company}</th>
<th>&nbsp;{lang_Product}</th>
<th>&nbsp;{lang_Price}</th>
<th>&nbsp;{lang_CreatedAt}</th>
<th>{lang_Action}</th>
</tr>
</thead>
<tbody>
<!-- BEGIN main_list -->
<tr class="{LIST_TD_CLASS}"><td>&nbsp;{ID}</td>
<td>&nbsp;{COMPANY_ID}</td>
<td>&nbsp;{PRODUCT_ID}</td>
<td>&nbsp;{PRICE}</td>
<td>&nbsp;{CREATED_AT}</td>
<td>
<ul class="admin_td_actions">
  <li><a href="{WEBDIR}/product/apf_product_price/update/{ID}"><img alt="{lang_Edit}" title="{lang_Edit}" src="{WEBTEMPLATEDIR}images/edit_icon.png" /></a></li>
  <li><a onclick="if (confirm('Are you sure?')) { f = document.createElement('form'); document.body.appendChild(f); f.method = 'POST'; f.action = this.href; f.submit(); };return false;" href="{WEBDIR}/product/apf_product_price/del/{ID}"><img alt="{lang_Delete}" title="{lang_Delete}" src="{WEBTEMPLATEDIR}images/delete_icon.png" /></a></li>
</ul>

</td>
         </tr>
<!-- END main_list -->
</tbody>
<tfoot>
<tr><th colspan="8">
<div class="float-right">
{PAGINATION}
</div>
{CURRENT_PAGE} / {TOLTAL_NUM} {lang_Result} {lang_JumpTo} {SELECT_BOX} {lang_Page} </th></tr>
</tfoot>

</table>
