        
<div id="admin_container">
<h1>{lang_Export}</h1>
<div id="admin_header">
</div>
<div id="admin_bar">
</div>

<form action="{WEBDIR}/contact/apf_contact/{DOACTION}" method="post" >
<div id="div_container_exportoptions">

<fieldset id="exportoptions">
<legend>{lang_Export}</legend>
<div class="form-row">
  <label for="radio_dump_latex">Excel</label>  
  <div class="content"><input type="radio" name="what" value="excel" id="excel"/ checked></div>
</div>
<div class="form-row">
  <label for="radio_dump_latex">PDF</label>  
  <div class="content"><input type="radio" name="what" value="pdf" id="pdf"/ ></div>
</div>
</fieldset>

<ul class="admin_actions">
  <li><input type="submit" name="save" value="{lang_Export}" class="admin_action_save" /></li>

</ul>

</div>

</form>

