/* $Id: style.css,v 1.13 2006/04/03 22:20:48 unconed Exp $ */

/*
** HTML elements
*/
body {
	background-image:url(../images/1136054208.gif);
	color:#333333;
	font-size:12px;
	line-height:130%;
	margin: 0;
	padding: 0;
	color: #000;
}


/** menu **/
#mainmenu {
	padding-left:100px;
	text-align: center;
	float: left; /*Set to "left" or "right" to position menu accordingly*/
	padding-bottom: 0px;	/*border-bottom: 1px solid #999e87; uncomment this line to add bottom border*/
	height:45px;
}
#mainmenu ul {
	display: block;
	background: url(../images/tempimg/10.jpg) repeat-x center top;
	height:45px;
	width:778px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style:none;	
}
#mainmenu li {
	display: block;
	background: url(../images/menu_bg.gif) repeat-x center top;
	float: left;
	height:35px;
	width:91px;
	padding-top:18px;
}
#mainmenu a {
	color: #663300;
	text-decoration: none;
}

/** main-content **/
#main-content
{
	margin-left:auto; 
	margin-right:auto; 
	clear:both;
	position:relative; 
	margin-top:0px; 
	line-height:160%;
	float: left;
	padding-left:100px;
	display: block;
	font-size: 12px;
	width:778px;
}
#main-content .left_nav span {
	border-right:1px #cfcfcf solid;
	border-left:1px #cfcfcf solid;
	display: block;
	height:350px;
	width:180px;
	float:left;
}
#main-content .center_content span {
	display: block;
	height:350px;
	float:inherit;
	border-right:1px #cfcfcf solid;
	border-bottom:1px #cfcfcf solid;
}


/** bottom-line **/
#bottom-line {
	position:relative; 
	display: block;
	padding-left:100px;
	float: left;
	width:778px;

}
#bottom-line p {
	display: block;
	background: url(../images/tempimg/8.gif) repeat-x center top;
}

/** footer **/
#footer
{
	margin-left:auto; 
	margin-right:auto; 
	clear:both;
	position:relative; 
	margin-top:0px; 
	line-height:160%;
	color:#000000; 
	text-align:left
}
#footer .copyright p
{ 
	padding-left:350px;
	font-size: 12px;
}
